<!DOCTYPE html>
<html ng-app="moduleOne">

<head>
	<title>Angular!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="controllerOne">
	
	<h1>Here's This Bomb Ass Web Page{{excited}}</h1>
	
	
	<p ng-style="hoverColor" ng-mouseenter="hoverColor={color:'pink'}" ng-mouseleave="hoverColor={color:'black'}">e 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software lik</p>


	<h2>This Page isn't Really That Cool{{excited}}</h2>
	

	<div>
	
	<a ng-click="confirmHide()" ng-hide="hide" href="#">this won't get you anywhere</a>
	

	<a href="#">neither will this one</a>
	
	</div>
	
		
	<!--<button ng-click="click()">Click Me!</button>-->

	<button ng-click="click()">where's the list</button>

	<ul ng-show="show">
		<li>here's</li>
		<li>the hidden</li>
		<li>list bro</li>
	</ul>












</body>
</html>