<!DOCTYPE html>
<html ng-app="moduleOne">

<head>
	<title>Angular!</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller="controllerOne">
	
	<h1>{{greeting}}</h1>
	
	<h2></h2>
	
	
		
	<!--<button ng-click="click()">Click Me!</button>-->

	<button ng-click="click()">where's the list</button>

	<ul ng-show="show">
		<li>here's</li>
		<li>the hidden</li>
		<li>list bro</li>
	</ul>












</body>
</html>